{% extends 'base.html.twig' %}

{% block title %}Cars Page{% endblock %}

{% block body %}
    <h1>Our Cars</h1>

    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .bla {
            background: #0000F0;
        }
    </style>
{% endblock %}